.header {
    padding: 25px;
    background-color: #303846;
}
.header h3 {
    text-align: center;
    color: white;
    font-size: 50px;
}
.subheader {
  margin: 10px;
  font-size: x-large;
  text-align: center;
}
.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }